.patientInfo {
  grid-area: patientInfo;
  padding: 10px;
}

.patientInfo .patientInfo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patientInfo-container .patient-profile {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  color: #052745;
}

.patientInfo-container .patient-profile .patient-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}

.patient-profile .patient-image img {
  width: 100%;
}

.patientInfo-container .patient-profile span {
  color: gray;
  font-size: 12px;
}

.patientInfo-container .patient-profile .patient-appointments {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.patientInfo-container .patient-profile .patient-appointments hr {
  width: 40px;
  transform: rotate(90deg);
  margin-left: 20px;
}

.patientInfo-container .patient-profile .send-btn {
  width: 100%;
}

.patientInfo-container .patient-profile .send-btn button {
  width: 100%;
  padding: 5px;
  background: transparent;
  border: 1px solid gray;
  color: #052745;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

.patientInfo-container .patient-information {
  flex: 1;
  background-color: white;
  color: gray;
  font-size: 12px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 270px;
  grid-gap: 10px;
  padding: 30px 17px;
  border-radius: 10px;
}

.gender {
  grid-area: 1 / 1 / 2 / 2;
}

.birthday {
  grid-area: 1 / 2 / 2 / 3;
}

.phoneNumber {
  grid-area: 1 / 3 / 2 / 4;
}

.address {
  grid-area: 2 / 1 / 3 / 2;
}

.city {
  grid-area: 2 / 2 / 3 / 3;
}

.zip {
  grid-area: 2 / 3 / 3 / 4;
}

.status {
  grid-area: 3 / 1 / 4 / 2;
}

.registration {
  grid-area: 3 / 2 / 4 / 3;
}

.phone {
  grid-area: 1 / 3 / 2 / 4;
}
