.sidebar {
  width: 280px;
  height: 93.5vh;
  border-radius: 25px;
  padding: 30px 10px;
  background-color: white;
  transition: width 0.5s ease;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-section .intro {
  display: flex;
  cursor: pointer;
}

.sidebar .logo {
  height: 40px;
  height: 40px;
  overflow: hidden;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar .text {
  margin-left: 2px;
}

.text h2 {
  color: rgb(25, 25, 68);
  font-weight: 800;
}

.text span {
  color: gray;
  font-size: small;
  font-weight: 500;
}

.sidebar .toggle-btn {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.sidebar .toggle-btn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: rgb(161, 158, 158);
}

/* Sidebar Menu */

.sidebar .sidebar-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.sidebar .sidebar-menu a {
  color: #283049;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.sidebar .sidebar-menu a .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  color: #ced2da;
  font-size: 25px;
  margin-right: 20px;
}

.sidebar .sidebar-menu a:hover {
  background-color: #0116eb;
  color: white;
}

.sidebar-doctor {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-doctor .doctor-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.sidebar-doctor .doctor-image img {
  width: 100%;
}

/* When Sidebar is Closed */
.sidebar.inactive {
  width: 80px;
}

.sidebar.inactive .text {
  display: none;
}

.sidebar.inactive .top-section {
  flex-direction: column;
  height: 100px;
}

.sidebar.inactive .sidebar-menu {
  height: 65vh;
}

.sidebar.inactive .sidebar-menu a .menu-icon {
  margin-right: 0;
}
.sidebar.inactive .sidebar-menu a span {
  display: none;
}

.sidebar.inactive .doctor-image svg {
  font-size: 22px;
}

.sidebar.inactive .doctor-info {
  display: none;
}
