* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebeef4;
  color: #283049;
}

ul {
  list-style: none;
  color: #283049;
}

a {
  text-decoration: none;
  color: #283049;
}

button {
  cursor: pointer;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 95vw;
  height: 95vh;
  border: 6px solid black;
  border-radius: 25px;
  display: flex;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 0.4fr 1.3fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar navbar navbar"
    "patientInfo patientInfo notes"
    "appointments appointments documents";
}

@media screen and (max-width: 1030px) {
  main {
    grid-template-columns: 1.5fr 0.8fr 0.7fr;
    grid-template-rows: 0.6fr repeat(2, 1fr) 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "navbar navbar navbar"
      "patientInfo patientInfo patientInfo"
      "appointments appointments appointments"
      "notes documents documents";

    max-height: 100vh;
    overflow-y: scroll;
  }
}
